body, html {
    font-family: Arial;
    background-color: rgb(240,240,240);
    color: rgb(29, 29, 29);
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

#wrapper {
    background-color: white;
    width: 80%;
    max-width: 800px;
    
    border-radius: .5em;
    padding: 1.5em;
    margin: 0;

    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);

    position: absolute;
    left: 50%;
    top: 2em;
    transform: translateX(-50%);

}

a {
    text-decoration: none;
    color: rgb(90,90,90);
}
a:hover {
    color: rgb(7, 148, 141);
}

.package-link {
    font-weight: bold;
    list-style-type: none;
    margin-bottom: .2em;
}

#package_name {
    font-size: 2.5em;
}

#package_desc {
    position: relative;
    left: 1em;
    color: rgb(100,100,100);
    font-weight: normal;
    font-style: italic;
    font-size: 1em;
}

#backbutton {
    display: inline-block;
    width: auto;
    padding-left: .75em;
    padding-right: .75em;
    height: 2em;
    border: 1px solid lightgray;
    border-radius: .25em;
    text-align: center;
    line-height: 2em;
    text-decoration: none;
    font-weight: bold;
    transition: box-shadow .3s, color .3s;
    color: rgb(100,100,100);
}
#backbutton:hover {
    color: black;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}
#backbutton:active {
    color: black;
    background-color: rgb(230, 230, 230);
}