body, html {
    font-family: Arial;
    background-color: white;
    color: rgb(50,50,50);
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

#wrapper {
    width: 80%;
    max-width: 800px;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    border-radius: .5em;
    padding: 1.5em;
    margin: 0;

    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);

    position: absolute;
    left: 50%;
    top: 2em;
    transform: translateX(-50%);

}

.package-link {
    color: red;
    font-weight: bold;
    list-style-type: none;
}

#package_name {
    color: black;
}

#package_desc {
    position: relative;
    left: 1em;
    color: rgb(60,60,60);
    font-weight: normal;
    font-style: italic;
    font-size: 1em;
}

#backbutton {
    display: block;
    width: 5em;
    height: 2em;
    border: 1px solid lightgray;
    border-radius: .25em;
    text-align: center;
    line-height: 2em;
    text-decoration: none;
    font-weight: bold;
    transition: box-shadow .3s, color .3s;
    color: rgb(100,100,100);
}
#backbutton:hover {
    color: black;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}
#backbutton:active {
    color: black;
    background-color: lightgray;
}

#package_deps {}

#package_revd {}